@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto','sans-serif';
}

.navmain{
   background-color:  rgb(45,45,44);
   font-size: 20px;
}

.navcontent {
    display: flex;
    margin-left: 60px;
    padding: 20px 10px;
  
    
}
.logo{
    height: 50px;
}
/* .navimage {
   margin-top: 40px;

} */


.navlist li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 29px;
    text-decoration: none;
 
    
    
}
 .navlist li a {
    color: #fff;
  
 } 
.navlist li a:link,
.navlist li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}



.logincontent {
 
    float: right;
    margin-right: 100px;
    padding: 0;
    margin-top: -50px;

}

.loginuserprofile {
    float: right;
    margin-top: 4px;

}

.logoimg {

    border-radius: 50%;
}

.login {
    float: right;
}

.loginuserprofile img{
    width: 17px;
    height: 17px;
    margin-top: 5px;
    
}

.loginuserprofile a {
    margin-top: 3px;
    margin-left: 2px;
    color: #fff;
    text-decoration: none;
}
.titlebackimage{
    background-image: url(./img/orange.jpg);
    width: 100%;
    height: 450px;
    padding-top: 50px;
 }
.dot{
    background-image: url(./img/lin.png);
    width: 1140;
    height: 345px;
} 
.hill{
    float: right;
    height: 400px;
    width: 400px;
    margin-top: -173px;
} 
.titlehead{
    color: #fff;
   font-weight: 900;
   font-size: 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titletext{
    color: #fff;
    text-align: center;
    word-spacing: 2px;
    font-size: 20px;
    font-weight:900;
    line-height: 30px;
    margin-top: 40px;
}
.titlediv{
    margin-top: 130px;
}
.titlebtn{
    padding: 18px 40px;
    margin-left: 46%;
    color: black;
    font-weight: bold;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;

}
.maincontent{
    display: flex;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 40px;
    margin: 0px;
    /* margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 80px; */
}
.maintext{
    width: 50%;
    padding: 20px 40px; 
}
.maintext h2:before{
    margin-top: -100px;
    display: block;
    height: 4px;
    background-color: #CDAA72;
    content: " ";
    width: 100px;
    margin-bottom: 10px;
}
.learn{
    margin-top: 40px;
}
.learn{
    padding: 10px 25px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border: 1px #6D6D6D solid;
    border-radius: 3px;
}
.maincontent h2{
    margin-bottom: 30px;
}
.maincontent p{
    line-height: 20px;
    margin-bottom: 30px;

}

.learn1{
    margin-top: 40px;
}
.learn1 a{
    padding: 10px 25px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border: 1px #6D6D6D solid;
    border-radius: 3px;
}
.mainscales{
   width: 50%;
}
.saleslist li{
    list-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
.salefirst{
    padding: 20px;
    background-color: #E5B22D;
    border-radius:5px;
    margin-top: -80px;
    margin-bottom: 5px; 
    width: 250px;
}
.salesecond{
    background-color:#EE972B;
    padding: 20px 30px;
    margin-bottom: 5px; 
    border-radius:5px; 
    width: 350px;
}
.salethird{
    background-color: #F47B44;
    padding: 20px;
    margin-bottom: 5px; 
    border-radius:5px;
    width: 450px; 
}
.salefour{
    background-color: #B35328;
    padding: 20px;
    margin-bottom: 5px; 
    border-radius:5px; 
    width: 550px;
}
.clientsection{
    display: flex;
    margin-bottom: 40px;
}
.clientimage{
    width: 50%;
}
.clientimage img{
    margin-left:80px;
    margin-bottom: 40px;
    height: 300px;
    width: 350px;
}
.clienttext{
    width: 50%;
}
.clienttext h2:before{
    display: block;
    content:'';
    background-color:#CDAA72;
    height: 4px;
    width: 100px;
    margin-bottom: 10px;
}
.clienttext h2{
    line-height: 30px;
    margin-bottom: 30px;
}
.clienttext p{
    line-height: 25px;
}
.clienttext button{
    padding: 10px 20px;
    margin-top: 40px;
    background-color: transparent;
}
.recommondsection{
    display: flex;
    padding: 50px;
}
.recommendcontainer{
    display: flex;
    background-color: #363534;
    padding: 40px 0;
    color: #fff;
}
.recommendcontent{
  
    margin-left: 80px;
}
.recommendcontent h2::before{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #947C57;
    margin-bottom: 10px;
}
.recommendcontent h2{
    line-height: 30px;
    margin-bottom: 30px;
}
.recommendcontent p{
    line-height: 25px;

}
.recommendlist{
    padding: 75px;
    margin-top: -70px;
   margin-left: 20px;
}
.list1{
    display: flex;
    margin-left: -50px;
}
.fas.fa-map-marked{
color: #CDAA72;
background-color: #363536;
font-size: 55px;
margin-right: 10px;
}
.list1 h3{
    color:#CDAA72 ;
    margin-top: -10px;
    margin-bottom: 5px;

}
.list1 p{
    line-height: 20px;
    margin-bottom: 20px;
    
}

.list2{
    display: flex;
    margin-left: -50px;
} 
.tower{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
}


.list2 h3{
    color:#CDAA72 ;
    margin-bottom: 5px;
    margin-left: 5px;
}
.list2 p{
    line-height: 20px;
    margin-bottom: 5px;
    margin-bottom: 20px
}
    
.list3{
    display: flex;
    margin-left: -50px;
}
.cpu{
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;  
}
.list3 h3{
    color:#CDAA72 ;
    margin-bottom: 5px;
    margin-left: 5px;
}
.list3 p{
    line-height: 20px;
    margin-bottom: 5px;
    margin-bottom: 20px
    
}
.recommendlist{
    width: 50%;

}
/* CDAA72 */
.toolhead{
    padding: 40px;
    text-align: center;
}
.toolhead::before{
    content: '';
    display: block;
    height: 4px;
    width: 100px;
    background-color: #CDAA72;
    margin-bottom: 10px;
   margin-left: 48%;

}
.toolcontainer{
    padding: 40px;
    margin-left: 80px;
}
.toolhead h2{
    margin-bottom: 10px;
}
.toolcontent1{
    display: flex;
}
.Attractive{
    width: 30%;
    padding: 20px;
}
.Attractive i{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.Attractive h4{
    margin-bottom: 10px;
}
.Attractive p{
    margin-bottom: 10px;
    line-height: 30px;
}
.more1{
    text-decoration: none;
}

.Reliable{
    width: 30%;
    padding: 20px;
}
.Reliable i{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.Reliable h4{
    margin-bottom: 10px;
}
.Reliable p{
    margin-bottom: 35px;
    line-height: 25px;
}
.more2{
   margin-top: 100px;
    text-decoration: none;
}

.Complimentary{
    width: 30%;
    padding: 20px;
}
.Complimentary i{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.Complimentary h4{
    margin-bottom: 10px;
}
.Complimentary p{
    margin-bottom: 10px;
    line-height: 25px;
}
.more3{
    text-decoration: none;
}
.toolcontent2{
    display: flex;
}

.Great{
    width: 30%;
    padding: 20px;
}
.Great i{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.Great h4{
    margin-bottom: 10px;
}
.Great p{
    margin-bottom: 50px;
    line-height: 25px;
}
.more4{
    text-decoration: none;
}

.Campaign{
    width: 30%;
    padding: 20px;
}
.Campaign i{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.Campaign h4{
    margin-bottom: 10px;
}
.Campaign p{
    margin-bottom: 35px;
    line-height: 25px;
}
.more5{
   margin-top: 85px;
    text-decoration: none;
}

.Custom{
    width: 30%;
    padding: 20px;
}
.Custom i{
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.Custom h4{
    margin-bottom: 10px;
}
.Custom p{
    margin-bottom: 50px;
    line-height: 25px;
}
.more6{
    text-decoration: none;
}
.sitesection{
    text-align: center;
}
.sitecontent{
    background-image: url(./img/orange.jpg);
    width: 100%;
    color: #fff;
    padding: 80px;
}
.sitecontent h2{
    /* font-size: 45px; */
    text-align: center;
    margin-bottom: 20px;
}
.sitecontent p{
    text-align: center;
    margin-bottom: 30px;
}
.sitecontent button{
    margin-left: 46%;
    background-color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 3px;
}
.sitecontent a{
    text-decoration: none;
    color: black;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 5px;
    
}
.footersection{
    background-color: #333231;
    color: #fff;
}

.footercontainer{
    display: flex;
    padding: 80px;
    
}
.HOSTING{
    width: 25%;
}
.HOSTING h5{
    color:#999999;
    margin-bottom: 10px;
}
.hostinglist{
    list-style: none;
}

.hostinglist li{
    margin-bottom: 4px;
}
.hostinglist a{
    text-decoration: none;
    color:#fff;
}

.USEFUL{
    width: 25%;
}

.USEFUL h5{
    color:#999999;
    margin-bottom: 10px;
}

.resourcelist{
    list-style: none;
}

.resourcelist li{
    margin-bottom: 4px;
}

.resourcelist a{
    text-decoration: none;
    color:#fff;
}
.footertext3{
    width: 25%;
}

.footertext3 h5{
    color:#999999;
    margin-bottom: 10px;
}

.aboutlist{
    list-style: none;
}

.aboutlist li{
    margin-bottom: 4px;
}

.aboutlist a{
    text-decoration: none;
    color:#fff;
}
.footertext4{
    width: 25%;
}

.footertext4 h5{
    color:#999999;
    margin-bottom: 20px;
}
.footertext4 p{
    margin-bottom: 5px;
}
.footertext4 p a{
    text-decoration: none;
    color: #fff;
}
.date1{
    display: flex;
    font-size: 12px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #666666;
}
.clock1{
    margin-right: 100px;
    
}
.date2{
    display: flex;
    font-size: 12px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #666666;
}

.clock2{
    margin-right: 100px;
    
}
.region{
    display: flex;
    padding-bottom: 20px;
    padding-left: 80px;
}
.region p{
    margin-top: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
}
.region select{
    height: 20px;
    width: 100px;
    font-weight: bold;
    font-size: 12px;
    background-color: transparent;
    border: 0;
    margin-top: 15px;
    margin-right: 10px;
}
.termsection{
    background-color: #333231;
    padding: 0 80px
}
.site{
    color:#666666;
    padding-bottom: 50px;
}
.site a{
    text-decoration: none;
    color:#999999;
}
.termsection::before{
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background-color: #666666;
}

.terms{
    padding-top: 20px;
    color: #fff;
    display: flex;
}
.spam1{
    text-decoration: none;
    color: #fff;
}
.span1::before{
    display:inline-block;
    content: '';
    width: 1px;
     height: 20px;
     background-color: #444444;
    
     margin: 0 10px;
}
.spam2{
    color: #fff;
    text-decoration: none;
}
.site{
    margin: 5px 0 0 0;
}
/* 
.spam0-2::before{
    display: block;
    height: 15px;
    width: 1px;
    background-color: #fff;
    content: '';
    margin-left: 10px;

}
.spam2{
    text-decoration: none;
    color: #fff; 

}*/
.uk:link,
.uk:visited
.uk:active,
.uk:focus{
    outline: none;
    color: #000;
    background: #488f8f repeat url("data:image/gif;base64,R0lGO...");
}
.uk{
    color: #fff;
}
option:checked, option:hover {
    color: #000;
    background: #488f8f repeat url("data:image/gif;base64,R0lGO...");
}

span::before{
    content: '';
    display: inline block;
   
    height: 10px;
    width: 1px;
    background-color: #fff;
}
.icons{
    float: right;
   margin-top: -80px;
   margin-right: 120px;

  color:#fff;
}
.icons a{
    text-decoration: none;
    color: #fff;
}