@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#new{
    top:10px;
    padding: 5px;
    
    border-radius: 10px;
    float: right;
    transform: translateX(-800%);
   border: 1px blueviolet solid;
   background-color: black;
   color: white;
   text-decoration: none;
}

#heads{
    margin: 0px;
    left: 10px;
    width: 200px;
    height: 200px;
    padding: 2px black solid;
    background-color: gray;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#spin{
    background-color:tomato;
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: center;

}
#winner{
    padding-top: 45px;
  float: right;
  transform: translateX(-280%);
    
}
#currentbet{
    padding-top: 80px;
    padding-left: 40px;
}